
body{
  background-color: #2f3544;
}


.App {
  text-align: center;
}

.input-group {
  width: 60%;
}



.card {
  max-width: 60%;
}

.card-title {
  position: absolute;
  padding: 20px;
  text-shadow: 1px 1px 1px #000;
}

.card-date {
  position: absolute;
  padding-left: 20px;
  margin-top: 60px;
  font-size: 30px;
  text-shadow: 1px 1px 1px #000;
  color: orange;
}

.card-temp {
  position: absolute;
  padding-left: 20px;
  margin-top: 300px;
  font-size: 50px;
  text-shadow: 1px 1px 1px #000;
  color: white;
}

.card-desc {
  position: absolute;
  padding-left: 10px;
  margin-top: 360px;
  text-shadow: 1px 1px 1px #000;
}

.imagen {

  /*ocupar todo el espacio*/
  width: 100%;
  height: 100%;
  
  
}

/* Responsive for mobile phones */
@media (max-width: 600px) {
  .card {
    max-width: 100%;
  }
}

/* Responsive for tablet */
@media (max-width: 900px) {
  .card {
    max-width: 100%;
  }
  .imagen {
    width: 100%;
    height: 100%;
  }
}
